# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Ingenieria_informatica\4\Sistemas_Legados\Practica2\Sistemas-legados-pr3\practica3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
